公共样式*/
ul,li{list-style: none;}
ul{margin-top: 0;list-style: none;}
.clear {clear: both;}
.mr10{margin-right:10px}
/*文本框背景*/
.mint-field-core{background: #efefef;}
.mint-popup-bottom .title{
	font-weight: 500;
    color: #fff;
    line-height: 38px;
    height: 38px;
    text-align: center;
    background: #5e67fc;
}
.cardImg{}
.cardImg img {display: block;width: 98%;margin:auto;}
/*导航*/
.mint-navbar {font-size: 15px}
.mint-navbar .mint-tab-item {padding: 0!important;}
.mint-navbar .mint-tab-item .mint-tab-item-label {color: inherit;font-size: 15px !important;line-height: 39px;background: #efefef;color: #5e67fc;}
.is-selected{border-bottom: 3px solid #5e67fc!important;margin-bottom: 0!important;}
/* 二级导航 */
.e-nav{height:30px;line-height:30px;text-align: left;}
.e-nav-item{border-radius:13px;padding:0px 10px;display:inline-block;margin-left:5px;text-align: center;height:26px;line-height: 26px;font-size: 14px;}
.e-nav .active{background: #5e67fc;color: #fff;}
.required {display: inline-block;line-height: 36px;height: 36px;color: red;}
/*客户详情(列表页样式)*/
.searchList ul {list-style: none;padding: 5px 0; margin:0 4px; box-sizing: border-box;padding:0 5px;}
.searchList ul li{text-align:left;line-height: 28px;padding:6px 0;position: relative;}
.companyName {color: #333!important;word-break: break-all;font-weight: 900;}
.labelcss{color:#7a7a7a!important;font-size: 14px;word-wrap:break-word;}
.companyType {width: 100%;font-size: 14px;word-break: break-all;}
/* 文本输入框label */
.mint-cell-wrapper .mint-cell-title .mint-cell-text{color:#5e67fc!important;}
/* 弹出框标题 */
.title-pop{font-weight: 500;color: #fff;line-height: 38px;height: 38px;text-align: center;background: #5e67fc;}
/*ios时间选择样式*/
.time-height .mint-field-core {background: #efefef;height: 25px;}
.mint-cell{min-height:40px;}
/* 弹框样式更改 */
.mint-msgbox .mint-msgbox-confirm{font-size: 15px;color: #5e67fc!important;}

/* 头部样式更改 */
.mint-header {background: #fff!important; color:#000!important;}
.mint-header .header-title{font-weight: 900 !important;font-size: 16px!important;}
.mint-header .mint-header-title{font-size: 16px!important;color:#000!important;height:20px!important;line-height: 20px!important; }
/* 底部样式 */
.footer{position:fixed;left:0; bottom:0px;z-index:10;height:46px;width:100%;line-height:46px;background:#fff;color:#000;}
.footer div{width:96%;height:36px;margin:auto;margin-top: 5px;}
.footer span{display: inline-block;width:23%;height:36px;}
/* 列表分隔线 */
.line{width:98%; border:3px solid #f4f6f8;margin: auto;}
.mint-cell-wrapper{background:#fff!important;}
.mint-searchbar-cancel{color: #5e67fc!important;}